	html,body{  	
		margin:0%;
		padding:0;
		height:100%;			
	}

	h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, li, ol, th, td, p, blockquote,form,fieldset, legend, input 
	{
   		margin: 0;
    	padding: 0;
		border:none;
	}
	
	
	/* reset */
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset
	,legend,textarea,p,blockquote,th,td,input,select,textarea,button,nav,section,footer,aside 
	{margin:0;padding:0; position:relative;}
	fieldset,img {border:0 none}
	dl,ul,ol,menu,li {list-style:none}
	blockquote, q {quotes: none}
	blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
	input,select,textarea,button {vertical-align:middle}
	button {border:0 none;background-color:transparent;cursor:pointer; outline: 0; }
	a {color:#333;text-decoration:none;}
	a:active, a:hover {text-decoration:none;}
	address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
		
	form{width:100%; height:100%;}	
		
	div{		
		color: black;		
		text-align: center;
		box-sizing: border-box;
	/* 	box-shadow: 
			1px 0 0 0 grey, 
			0 1px 0 0 grey, 
			1px 1px 0 0 grey,
			1px 0 0 0 grey inset, 
			0 1px 0 0 grey inset;	  */
	}
	
	.topWrapper{
		top:0%;
		height:8%;	
		width:100%;	
		position:fixed;
		z-index:999;
	}
	
	.top{	
		position:absolute;
		top:0%;	
		width:100%;	
		height: 100%;
		overflow: hidden;		
		z-index:1;
		background-color: white;
		font-size:1.3vw;
		margin-right: 1%;
		border-bottom:1px solid grey;
	}		
	
	.top .topLogo{	
		top:10%;
		width: 15%;		
		height:100%;	
		float:left;
		color:blue;
	}

	.top .topSearchBar{	
		width: 25%;
		float:left;	
		transform: translateY(50%);	
		margin-left:1%;
		border-bottom:2px solid; 	
		min-width:100px;	
	}

	.topSearchBar input[type=text]{	
		width: 90%;
		height:90%;
		font-size:1.3vw;			
	}
	
	.top .topLogin{	
		float: right;
		width: 15%;	
		height:50%;
		margin-right:1%;	
		transform: translateY(50%);	
	}	
	
	.top .topLogOut{	
		float: right;
		width: 22%;	
		height:50%;
		margin-right:1%;	
		transform: translateY(50%);	
	}