<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>servlet01Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>DataFilter</filter-name>
    <filter-class>com.kh.filter.DataFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DataFilter</filter-name>
    <url-pattern>/filter</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>NextFilter</filter-name>
    <filter-class>com.kh.filter.NextFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NextFilter</filter-name>
    <url-pattern>/filter</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>log4jInit</servlet-name>
    <servlet-class>com.kh.common.Log4jInit</servlet-class>
    <init-param>
      <param-name>logProp</param-name>
      <param-value>/WEB-INF/Config/log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>LifeCycleServlet</servlet-name>
    <servlet-class>com.kh.controller.A_LifeCycleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>welcome</servlet-name>
    <servlet-class>com.kh.controller.B_FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>request</servlet-name>
    <servlet-class>com.kh.controller.C_RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>request</servlet-name>
    <url-pattern>/request/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>response</servlet-name>
    <servlet-class>com.kh.controller.D_ResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>response</servlet-name>
    <url-pattern>/response</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pagechange</servlet-name>
    <servlet-class>com.kh.controller.E_PageChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pagechange</servlet-name>
    <url-pattern>/pagechange/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pagechangeres</servlet-name>
    <servlet-class>com.kh.controller.E_PageChangeResServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pagechangeres</servlet-name>
    <url-pattern>/pagechangeres</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cache</servlet-name>
    <servlet-class>com.kh.controller.F_CacheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cache</servlet-name>
    <url-pattern>/cache</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>food</servlet-name>
    <servlet-class>com.kh.controller.Prac_Food</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>food</servlet-name>
    <url-pattern>/food/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>foodres</servlet-name>
    <servlet-class>com.kh.controller.Prac_Food_Res</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>foodres</servlet-name>
    <url-pattern>/foodres/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cookie</servlet-name>
    <servlet-class>com.kh.controller.G_CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookie</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>session</servlet-name>
    <servlet-class>com.kh.controller.H_SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>session</servlet-name>
    <url-pattern>/session/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>scopeTest</servlet-name>
    <servlet-class>com.kh.controller.I_ScopeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scopeTest</servlet-name>
    <url-pattern>/scopeTest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>scopeResult</servlet-name>
    <servlet-class>com.kh.controller.I_ScopeResServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scopeResult</servlet-name>
    <url-pattern>/scopeResult/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>filter</servlet-name>
    <servlet-class>com.kh.controller.J_FilterWrapper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>filter</servlet-name>
    <url-pattern>/filter</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>ajax</servlet-name>
    <servlet-class>com.kh.controller.K_Ajax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajax</servlet-name>
    <url-pattern>/ajax/*</url-pattern>
  </servlet-mapping>
</web-app>