<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="resources/css/common.css" />
<link rel="stylesheet" href="resources/css/icon/all.css" />
<link rel="stylesheet" media="screen and (min-width: 1100px)"
	href="resources/css/Web.css" />
<title>Document</title>
</head>
<body>
	<div class="content">
		<div class="topWrapper">
			<div class="top">
				<div class="topLogo">
					<b>UCLASS <br>HTML
					</b>
				</div>
				<div class="topSearchBar">
					<input Type="text" placeholder="검색어를 입력하세요">
					<button value="" class="">
						<i class="fas fa-search" style="color: black"></i>
					</button>
				</div>
				<div class="topLogin">
					<a href="login.html">로그인</a>
				</div>
			</div>
		</div>
		<div class="floatdiv">
			<!-- lnb -->
			<h3 class="subject">
				<span> - 메뉴</span>
			</h3>
			<ul class="fdlist">
				<!-- d1 -->
				<li class="d1"><i class="far fa-clipboard"></i> <a href="#!"><span>공지사항</span></a>
				</li>
				<li class="d1"><i class="fas fa-search-plus"></i> <a href="#!"><span>도서검색</span></a>
				</li>
				<li class="d1"><i class="far fa-question-circle"></i> <a
					href="#!"><span>고객센터</span></a></li>
				<li class="d1"><i class="fas fa-users"></i> <a href="#!"><span>About
							us</span></a></li>
			</ul>
			<!-- // d1 -->
		</div>
		<div class="Menu">
			<div class="MenuBox"></div>
		</div>

	</div>



</body>
</html>